name: Test

on:
  push:
    branches:
      - "**"
  pull_request:
  release:
    types:
      - published

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test ./...

      - name: Race test
        run: go test -race ./...

      - name: Uncached test
        run: go test -count=1 ./...

      - name: Staticcheck
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          "$(go env GOPATH)/bin/staticcheck" ./...

  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Integration test
        run: go test -tags=integration -run TestE2E_PromtailTailerLokiStreaming -count=1 -v ./...
  
  publish:
    needs: [integration,test]
    if: github.event_name == 'release' && github.event.action == 'published' && github.server_url != 'https://github.com'
    uses: l3tum/reusable-workflows/.github/workflows/publish-forgejo.yml@main
    runs-on: ubuntu-latest
    with:
      PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}